<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New products</title>

</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name</label><br><br>
        <input type="text" name="name" id="name" placeholder="Add a product"><br><br>
        <label for="price">Price (Unit)</label><br><br>
        <input type="number" name="price" id="price" placeholder="ad a price"><br><br>
       <label for="category">Select category</label><br><br>
        <select name="category" id="category">
               <% for(let category of categories) { %>
                <option value="<%= category %>"><%= category %></option> 
                <% } %> 
           
        </select><br><br>
        <button>Submit</button>
    </form>
</body>
</html>