<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New products</title>

</head>
<body>
    <h1>Add A Product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name</label><br>
        <input type="text" name="name" id="name" placeholder="Add a product"><br>
        <label for ="price">Price (Unit)</label><br>
        <input type="number" name="price" id="price" placeholder="ad a price"><br>
       <label form="category">Select category</label><br>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            
        </select>
        <button>Submit</button>
    </form>
</body>
</html>